html {
    --header-height: 58px;
    --header-bgcolor: #6b183f;
    --nav-bgcolor: #dc143c;
}

header, main, footer {
    margin: auto;
    padding: 0 12vw;
}

header {
    margin: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: var(--header-height);
    line-height: var(--header-height);
    text-align: left;
    background-color: var(--header-bgcolor);
    color: cornsilk;
    font-weight: bold;
    font-size: 1.1rem;
    z-index: 2;
}

header #userAddress {
    display: inline-block;
    margin-right: 48px;
}

header nav {
    position: relative;
    float: right;
}

header nav .toggleNav {
    height: var(--header-height);
    width: var(--header-height);
    background-color: var(--nav-bgcolor);
    vertical-align: top;
    border: 0;
    cursor: pointer;
    background-image: url('/icons/user.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}

header nav ul, #connect {
    z-index: 2;
    display: block;
    position: absolute;
    top: calc(var(--header-height) + 16px);
    right: -16px;
    border-radius: 4px;
    margin: 0px;
    background-color: var(--nav-bgcolor);
}

header nav ul {
    padding: 12px 0px;
    list-style-type: none;
}

header nav ul li {
    display: block;
}

#connect {
    background-image: url('/icons/wallet.svg');
    background-repeat: no-repeat;
    background-position: center 48px;
    background-size: 30%;
    padding: 148px 36px 36px 36px;
    text-align: center;
}

#connect button {
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    background-color: transparent;
    padding: 12px;
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
}

#connect button:disabled {
    transition: 1s;
    opacity: 0.6;
    cursor: auto;
}

header nav ul li {
    padding: 0px 42px;
}

header nav ul li:hover {
    background-color: var(--header-bgcolor);
    transition: 1s;
}

header a {
    text-decoration: none;
    color: white;
}

main {
    margin: auto;
    margin-top: var(--header-height);
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
}

h1 {
    font-weight: normal;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    border: 1px solid #cfcfcf;
    margin: 12px;
    border-radius: 8px;
}

.card .illustration {
    aspect-ratio: 1;
    background-color: bisque;
}

.card .title {
    padding: 12px;
    font-weight: bold;
}

form.createNew {
    padding: 0px;
    margin: auto;
    display: inline-block;
}

form.createNew fieldset {
    width: 50%;
    text-align: left;
    border: 0px;
    padding: 12px;
    margin-bottom: 16px;
}

form.createNew label {
    display: block;
    text-align: left;
    white-space: nowrap;
    margin-bottom: 8px;
}

form.createNew input,
form.createNew button {
    font-family: inherit;
    font-size: 120%;
    padding: 8px 12px;
    border: 1px solid grey;
    border-radius: 4px;
    width: 380px;
    box-sizing: border-box;
}

form.createNew input[type=file] {
   display: none;
}

#imagePreview, #imageSelector {
    width: 380px;
    border-radius: 4px;
    border: 1px solid grey;
    cursor: pointer;
}

#imageSelector {
    aspect-ratio: 1.6;
    background-image: url('/icons/image.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}

.required {
    position: absolute;
}

.required span {
    padding: 6px 12px;
    text-align: center;
    color: white;
    border-radius: 4px;
    display: block;
    float: left;
    position: absolute;
    left: 12px;
    top: -6px;
    background-color: red;
    white-space: nowrap;
}

footer {
    background-color: rgb(221, 221, 221);
    margin: auto;
    text-align: center;
    padding: 48px 0px;
    font-weight: bold;
}